body{
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background: #996600;
    color:#fff;
}
img{
    height: 8vh;
    display: block;
}
a{
    text-decoration: none;
}
tr,
td{
    padding: 0;
    margin: 0;
}
table {
    background: #996600;;
    border-spacing: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button,
#select-box,
#select-box option{
    font-family: 'Press Start 2P', cursive;
    color:#fff;
}
button{
    color:#996600;
}
#select-box{
    background: #996600;
}
h1,
h2{
    color:#fff;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
#instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: outset;
}
#section-container{
    display: flex;
    flex-direction: row;
}
#moves{
    padding-top: 2vh;
}